@tailwind base;
@tailwind components;
@tailwind utilities;



.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* tailwind.css */
.mobile-bg {
  background-image: url('../assets/ourStoryBgMobile.svg');
}

.tablet-bg {
  background-image: url('../assets/ourStoryBgTablet.svg');
}

.desktop-bg {
  background-image: url('../assets/ourStoryBg.svg');
}


